// 
// Hide visually and from screen readers:
// 
// @group Utility
// 
// @link http://juicystudio.com/article/screen-readers-display-none.php
// 
.u-hidden {
    display: none !important;
    visibility: hidden;
}





// 
// Hide only visually, but have it available for screen readers:
// 
// @group Utility
// 
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// 
.u-sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
    
    // 
    // Extends the .visuallyhidden class to allow the element
    // to be focusable when navigated to via the keyboard:
    // 
    // https://www.drupal.org/node/897638
    // 
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}






// 
// Hide visually and from screen readers, but maintain layout
// 
// @group Utility
// 
.u-invisible {
    visibility: hidden;
}






// Imports visual debugging here so it appears near the end of compiled css
@import     
    "functions/debug/legacy-xhtml",
    "functions/debug/pesticide",
    "functions/debug/namespace-debug";
