//
// Border Styles
//
@each $label in $border-styles {
    .bd-#{$label} { border: 0px #{$label}; }

    // @each $d, $dir in $directions {
    //     .bd-#{$d}-#{$label} { border-#{$dir}: #{$label}; }
    // }
}


//
// Border Colors
//
@each $label, $color in $border-colors {
    .bd-#{$label}              { border-color: $color; }
    .hover\:bd-#{$label}:hover { border-color: $color; }
    .focus\:bd-#{$label}:focus { border-color: $color; }
}


//
// Border Widths
//
@each $label, $width in $border-widths {
    .bd-#{$label} { border-width: #{$width}; }

    @each $d, $dir in $directions {
        .bd-#{$d}-#{$label} { border-#{$dir}-width: $width; }
    }
}


//
// Border Radiuses
//
@each $label, $radius in $border-radius {
    .rounded-#{$label} { border-radius: $radius; }

}
