//
// .mx-auto - Applies auto margins to left and right sides
//
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@each $bp, $size in $breakpoints {
    @include media('screen', '>=#{$size}') {
        .#{$bp}\:mx-auto {
            margin-left: auto;
            margin-right: auto;
        }
    }
}





//
// .mx-*  - Applies left and right margins based on spacings scale
// .-mx-* - Negative versions of above
//
@each $scale, $value in $spacings {
    .mx-#{$scale} {
        margin-left: $value;
        margin-right: $value;
    }

    .-mx-#{$scale} {
        margin-left: -#{$value};
        margin-right: -#{$value};
    }

    @each $bp, $size in $breakpoints {
        @include media('screen', '>=#{$size}') {
            .#{$bp}\:mx-#{$scale} {
                margin-left: $value;
                margin-right: $value;
            }

            .#{$bp}\:-mx-#{$scale} {
                margin-left: -#{$value};
                margin-right: -#{$value};
            }
        }
    }
}





//
// .my-* - Applies top and bottom margins based on spacings scale
//
@each $scale, $value in $spacings {
    .my-#{$scale} {
        margin-top: $value;
        margin-bottom: $value;
    }
    .-my-#{$scale} {
        margin-top: -#{$value};
        margin-bottom: -#{$value};
    }

    @each $bp, $size in $breakpoints {
        @include media('screen', '>=#{$size}') {
            .#{$bp}\:my-#{$scale} {
                margin-top: $value;
                margin-bottom: $value;
            }

            .#{$bp}\:-my-#{$scale} {
                margin-top: -#{$value};
                margin-bottom: -#{$value};
            }
        }
    }
}





//
// .m[t,r,b,l]-a  - Applies auto margin to a side for use inside a Flex container
// .m[t,r,b,l]-*  - Applies margins to single side based on spacings scale
// .-m[t,r,b,l]-* - Negative version of spacings scale
//
@each $prefix, $side in $directions {

    @each $scale, $value in $spacings {
        .m#{$prefix}-auto       { margin-#{$side}: auto; }
        .m#{$prefix}-#{$scale}  { margin-#{$side}: $value; }
        .-m#{$prefix}-#{$scale} { margin-#{$side}: -#{$value}; }

        @each $bp, $size in $breakpoints {
            @include media('screen', '>=#{$size}') {
                .#{$bp}\:m#{$prefix}-auto       { margin-#{$side}: auto; }
                .#{$bp}\:m#{$prefix}-#{$scale}  { margin-#{$side}: $value; }
                .#{$bp}\:-m#{$prefix}-#{$scale} { margin-#{$side}: -#{$value}; }
            }
        }
    }

}





//
// .m-*  - Applies margins to all sides based on spacings scale
// .-m-* - Negative
//
@each $scale, $value in $spacings {
    .m-#{$scale}  { margin: $value; }
    .-m-#{$scale} { margin: -#{$value}; }


    @each $bp, $size in $breakpoints {
        @include media('screen', '>=#{$size}') {
            .#{$bp}\:m-#{$scale}  { margin: $value; }
            .#{$bp}\:-m-#{$scale} { margin: -#{$value}; }
        }
    }
}
