//
// Opacity
//
@each $label, $opacity in $opacities {
    .opacity-#{$label} { opacity: $opacity; }
    .hover\:opacity-#{$label}:hover { opacity: $opacity; }
    .focus\:opacity-#{$label}:focus { opacity: $opacity; }
}
