/// Generates bg stripes from a list of `$colors`
/// 
/// @param  {List} $colors            - list of colors to use, with or without color stops
/// @param  {Int}  $direction [90deg] - Direction of colors for linear gradiant
/// @param  {Bool} $random [false]    - Choose to use random stops
/// 
/// @group Styling
/// 
/// @example scss
/// $colors: #1abc9c #2ecc71 #3498db #9b59b6 #34495e #f1c40f #e67e22 #e74c3c #ecf0f1 #95a5a6;
/// $custom-stops: #1abc9c 10%, #2ecc71 12.5%, #3498db 28%, #9b59b6 35%, #34495e 60%, #f1c40f 69%, #e67e22 83%, #e74c3c 88%, #ecf0f1 96%, #95a5a6 100%;
/// 
///  // Equal stops
///  background: stripes($colors, $direction);
/// 
///  // Random stops
///  background: stripes($colors, 90deg, true); 
/// 
///  // Custom stops
///  background: stripes($custom-stops, 90deg);
/// 
/// @link http://www.sitepoint.com/rainbow-border-with-sass/
/// 
/// @requires _stripes-custom-stops
/// @requires _stripes-equal-stops
/// @requires _stripes-random-stops
/// 
/// @return {String} linear gradient to apply to item
@function stripes($colors, $direction: 90deg, $random: false) {
    // If lonely color
    @if length($colors) == 1 { @return $colors; }


    // Else
    $type: 'equal';

    @if $random {
        $type: 'random';
    } @else if length(nth($colors, 1)) > 1 {
        $type: 'custom';
    }

    $bg : #{"linear-gradient($direction, call('_bg-stripes-#{$type}-stops', $colors))"};

    @return $bg;
}



