//
// .px-* - Applies left and right padding based on sizing scale
//
@each $scale, $value in $sizing {
    .px-#{$scale} {
        padding-left: $value;
        padding-right: $value;
    }

    @each $bp, $size in $breakpoints {
        @include media('>=#{$size}') {
            .#{$bp}\:px-#{$scale} {
                padding-left: $value;
                padding-right: $value;
            }
        }
    }
}





//
// .py-* - Applies top and bottom padding based on sizing scale
//
@each $scale, $value in $sizing {
    .py-#{$scale} {
        padding-top: $value;
        padding-bottom: $value;
    }

    @each $bp, $size in $breakpoints {
        @include media('>=#{$size}') {
            .#{$bp}\:py-#{$scale} {
                padding-top: $value;
                padding-bottom: $value;
            }
        }
    }
}





//
// .p[t,r,b,l]-* - Applies padding to single side based on sizing scale
//
@each $prefix, $side in $directions {

    @each $scale, $value in $sizing {
        .p#{$prefix}-#{$scale} {
            padding-#{$side}: $value;
        }

        @each $bp, $size in $breakpoints {
            @include media('>=#{$size}') {
                .#{$bp}\:p#{$prefix}-#{$scale} {
                    padding-#{$side}: $value;
                }
            }
        }
    }

}
